{% if title|length %}
  <h3>{{ title }}</h3>
{% endif %}
{% if description|length %}
  <h4>{{ description }}</h4>
{% endif %}
<table>
  {% if caption|length %}
    <caption>{{ caption }}</caption>
  {% endif %}
  {% if headers %}
    <thead>
      <tr>
      {% for column in headers %}
        <th class="{{ columnClasses[loop.index0]|default('') }}">{{ column }}</th>
      {% endfor %}
      </tr>
    </thead>
  {% endif %}
	<tbody>
  {% for row in body %}
    <tr>
      {% for cell in row %}
        <td class="{{ columnClasses[loop.index0]|default('') }}">{{ cell }}</td>
      {% endfor %}    
    </tr>
  {% endfor %}
  </tbody>
</table>